# poetry
.venv
poetry.lock

# VScode
.vscode

#Others
*.swp
.ruff_cache
metaGOflow-data-products-RO-crate-example.code-workspace
utils/__pycache__
utils/container_emobon_arup.log
utils/bash_loop.sh
working
README.napb
utils/emobon_arup.sif
apptainer_output.log
logs
wtrees
