# poetry
.venv

# VScode
.vscode

#Others
*.swp
.ruff_cache
metaGOflow-data-products-RO-crate-example.code-workspace
git-repositories.code-workspace
utils/__pycache__

working
#ro-crates-examples/*
README.napb

