# poetry
.venv

# VScode
.vscode

#Others
*.swp
.ruff_cache
metaGOflow-data-products-RO-crate-example.code-workspace
utils/__pycache__
bash_loop.sh
working
README.napb
utils/emobon_arup.sif
apptainer_output.log
